/* Hide scrollbar for webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox and other browsers */
body {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE/Edge */
}

@keyframes fadeLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeLeftToRight {
    animation: fadeLeftToRight 0.5s ease-in-out;
}

.childTitle {
    display: none;
}
/* .stripTitle:hover .childTitle {
    display: block;
    animation: fadeLeftToRight 0.5s ease-in-out;
} */
