html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    width: 0;
}
.sbar {
    scrollbar-width: none;
}
.sbar::-webkit-scrollbar {
    width: 0;
}

@keyframes fadeLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeLeftToRight {
    animation: fadeLeftToRight 0.5s ease-in-out;
}
@keyframes scaleFade {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.scaleFade {
    animation: scaleFade 0.3s ease-in-out;
}
